.card{
    text-align: center;
    background-color: #62B1F6;
    color: whitesmoke;
    width: 60vh;
    margin: 3% auto;
}
.btn{
    border: grey, solid, 1em;
    background-color: whitesmoke;
    color: #62B1F6;
}
.badge{
    margin: 1%;
}